Source: cordial-cli
Section: utils
Priority: optional
Maintainer: Ryan Petris <ryan@petris.net>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no
Homepage: https://github.com/ryanpetris/cordial

Package: cordial-cli
Architecture: amd64
Depends: ${misc:Depends}
Description: Command-line and terminal manager for Cordial Bluetooth adapters
 Manage adapters through commands, an interactive shell, or the terminal UI.
